.likeButton{
  --size: 2rem;

  width: var(--size);
  height: var(--size);
  border:1px solid #333;
  border-radius:50%;
  cursor:pointer;
  transform: rotate(0);
  transition: transform 0.3s;
  background:var(--mainColor, #00f);
}

.reverse{
  transform: rotate(180deg);
}